body {
    background-color: black !important;
    font-family: 'Poppins' !important;
    color:white !important;
    padding: 2em;
  }

  .enlace {
    margin: 10px;
    text-decoration: none;
    color: white !important;
    font-weight: 500;
  }
  .enlace:hover {
    color: red !important;
  }
  
  /* Estilo para la barra horizontal */
  hr {
    width: 100% !important;
  }
  